.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select {
    @extend .text-input;
    width: 245px;
    @media (min-width: $desktop-breakpoint) {
        width: 111px;
    }
}

.textarea {
    @extend .text-input;
    height: 10rem;
}